<div >
  <div class="d-flex align-items-center justify-content-center" style="height: 100px;cursor: pointer;"
  [class.active]="isRouteActive('/shopping-list')"
   (click)="onNavigate('shopping-list')">
    <img src="../../assets/img/shopping-cart.png" alt="shopping-cart" style="width: 40px;">
  </div>
  <div class="d-flex align-items-center justify-content-center" style="height: 100px;cursor: pointer;"
  (click)="onNavigate('computer-parts')"
  [class.active]="isRouteActive('/computer-parts')">
    <img src="../../assets/img/check.png" alt="shopping-cart" style="width: 40px;">
  </div>
</div>
