<div style="height: 100vh;">
  <ngx-spinner bdColor="rgba(51,51,51,0.8)" size="medium" color="#fff" type="ball-scale-ripple-multiple">
  </ngx-spinner>
  <div style="height: 100%;">
    <div style="height: 10%;">
      <app-header></app-header></div>
    <div class="d-flex" style="width: 100%;height: 90%;">
      <div style="width: 6rem;border-right: solid 2px #E5E7E9;">
        <app-side-bar></app-side-bar>
      </div>
      <div style="flex: 1;padding: 10px;">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</div>
